* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}

/* User Details styles */
.spaUserDetail {
    margin:0 30px 0 0;
    padding:0;
}
.spaUserDetail li {
    display: block;
    list-style: none;
    border: 1px solid #eee;
    background-color: #fefefe;
    padding: 10px;
    margin-bottom:-1px;
    position: relative;
    padding-left: 130px;
}
.spaUserDetail li:hover {
    background-color: #f6f6f6;
}
.spaUserDetail li span {
    position: absolute;
    top:10px;
    left:10px;
    color: #888;
}

/* Register user form styles */
.form-horizontal {
    margin-right:30px;
    padding:5px 30px 20px;
    border: 1px solid #eee;
    background-color: #f9f9f9;
}
/* Sidebar styles */
#spaSidebar .user-options a {
  color: #999;
  margin: 0 5px;
  cursor: pointer;
  text-decoration: none;
  border: 0;
}
#spaSidebar .user-options a:hover {
  color: green;
  border: 0;
}
#spaSidebar .user-options a:hover .fa-trash {
  color: red;
}
#spaSidebar table {
    max-width: 340px;
    border: 6px solid #e7e7e7;
    margin-left: 20px;
}
#spaSidebar .btn {
    margin-bottom: 20px;
    margin-left: 20px;
}
#spaSidebar table a {
    color: #0b12ff;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0);
}
#spaSidebar table a:hover {
    color: #000;
    border-bottom: 1px solid;
    transition: 0.3s;
}
#spaSidebar table thead tr th {
    position: relative;
    padding-right:20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#spaSidebar table thead tr th div {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#spaSidebar table thead tr th div.arrow-down:before {
    content: "\f107";
}
#spaSidebar table thead tr th div.arrow-up:before {
    content: "\f106";
}
#spaSidebar .storage-title {
    margin: 0 -20px 0 20px;
    border: 6px solid #e7e7e7;
    border-bottom:0;
    padding: 10px;
    max-width: 340px;
    font-weight: 400;
    text-align: center;
}
