<!DOCTYPE html>
<html lang="en" ng-app="spaApp">
<head>
    <meta charset="UTF-8">
    <title>Spa App</title>
    <base href="/" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- start header area -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Web Spa App</a>
            </div>
            <!-- start search area -->
            <form class="navbar-form navbar-left" role="search">
                <input type="text" class="form-control" ng-model="searchText.name" placeholder="Search by name" />
                <input type="text" class="form-control" ng-model="searchText.surname" placeholder="Search by surname" />
            </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-3">
            <div id="spaSidebar">
                <table class="table table-striped table-hover" ng-controller="spaJSONCtrl">
                    <thead>
                    <tr>
                        <th ng-click="sortData('name')">Full Name <div ng-class="getSortClass('name')"></div></th>
                        <th ng-click="sortData('age')">Age <div ng-class="getSortClass('age')"></div></th>
                        <th ng-click="sortData('born')">Born <div ng-class="getSortClass('born')"></div></th>
                        <th>Op:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users | orderBy: sortColumn:reverseSort | filter:searchText">
                        <td><a href="./detail/{{user.id}}">{{user.name}} {{user.surname}}</a></td>
                        <td>{{user.age}}</td>
                        <td>{{user.born | lowercase}}</td>
                        <td class="user-options"><a ng-click="edit(user.id)" href="javascript:void(0)"><i class="fa fa-pencil"></i></a><a ng-click="delete(user.id)" href="javascript:void(0)"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
                <a href="./addnew" class="btn btn-primary">New Storage User</a>
                <h4 class="storage-title">LocalStorage Users</h4>
                <table class="table table-striped table-hover" ng-controller="spaStorageCtrl">
                    <thead>
                    <tr>
                        <th ng-click="sortData('name')">Full Name <div ng-class="getSortClass('name')"></div></th>
                        <th ng-click="sortData('age')">Age <div ng-class="getSortClass('age')"></div></th>
                        <th ng-click="sortData('born')">Born <div ng-class="getSortClass('born')"></div></th>
                        <th>Op:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users | orderBy: sortColumn:reverseSort | filter:searchText">
                        <td><a href="./details/{{user.id}}">{{user.name}} {{user.surname}}</a></td>
                        <td>{{user.age}}</td>
                        <td>{{user.born | lowercase}}</td>
                        <td class="user-options">
                        <a ng-click="edit(user)" href="./edit/{{user.id}}">
                            <i class="fa fa-pencil"></i></a>
                        <a ng-click="delete(user.id)" href="#">
                            <i class="fa fa-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-9">
            <div id="spaContent">
                <ng-view></ng-view>
            </div>
        </div>
    </div>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/routes.js"></script>
</body>
</html>
